#path1358 {
    stroke-width: 12;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-1 5s linear forwards;
}
@keyframes dash1-1 {
    0% {
            stroke-dashoffset: 250;
}
    8% {
            stroke-dashoffset: 0;
    }
}

#path1360 {
    stroke-width: 20;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-2 5s linear forwards;
}
@keyframes dash1-2 {
    0%,
    8% {
            stroke-dashoffset: 250;
}
    16% {
            stroke-dashoffset: 0;
    }
}

#path1362 {
    stroke-width: 12;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-3 5s linear forwards;
}
@keyframes dash1-3 {
    0%,
    16% {
            stroke-dashoffset: 250;
}
    24% {
            stroke-dashoffset: 0;
    }
} 

#path1364 {
    stroke-width: 12;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-4 5s linear forwards;
}
@keyframes dash1-4 {
    0%,
    24% {
            stroke-dashoffset: 250;
}
    32% {
            stroke-dashoffset: 0;
    }
}
#path1366 {
    stroke-width: 12;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-5 5s linear forwards;
}
@keyframes dash1-5 {
    0%,
    32% {
            stroke-dashoffset: 250;
}
    40% {
            stroke-dashoffset: 0;
    }
}
#path1368 {
    stroke-width: 12;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-6 5s linear forwards;
}
@keyframes dash1-6 {
    0%,
    40% {
            stroke-dashoffset: 250;
}
    48% {
            stroke-dashoffset: 0;
    }
}
#path1370 {
    stroke-width: 12;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-7 5s linear forwards;
}
@keyframes dash1-7 {
    0%,
    48% {
            stroke-dashoffset: 250;
}
    56% {
            stroke-dashoffset: 0;
    }
}
#path1372 {
    stroke-width: 12;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-8 5s linear forwards;
}
@keyframes dash1-8 {
    0%,
    56% {
            stroke-dashoffset: 250;
}
    64% {
            stroke-dashoffset: 0;
    }
}
#path1374 {
    stroke-width: 12;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-9 5s linear forwards;
}
@keyframes dash1-9 {
    0%,
    64% {
            stroke-dashoffset: 250;
}
    72% {
            stroke-dashoffset: 0;
    }
}
#path1376 {
    stroke-width: 12;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-10 5s linear forwards;
}
@keyframes dash1-10 {
    0%,
    72% {
            stroke-dashoffset: 250;
}
    80% {
            stroke-dashoffset: 0;
    }
}
#path1378 {
    stroke-width: 12;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-11 5s linear forwards;
}
@keyframes dash1-11 {
    0%,
    80% {
            stroke-dashoffset: 250;
}
    88% {
            stroke-dashoffset: 0;
    }
}
#path1380 {
    stroke-width: 12;
    clip-path: url("#defs23");
    stroke-dasharray: 250;
    animation: dash1-12 5s linear forwards;
}
@keyframes dash1-12 {
    0%,
    88% {
            stroke-dashoffset: 250;
}
    100% {
            stroke-dashoffset: 0;
    }
}

